@import './cssreset.css';
@import './commonuse.css';
@import './profile.css';
@import './education.css';
@import './skill.css';
@import './working.css';
@import './footer.css';

* {
    color: #000;
}

body {
    background-color: #fff;
}

.wrap {
    width: 1920px;
    /* height: 3047px; */
    height: 2646px;
    background-color: transparent;
    z-index: 100;
}

.skill-background {
    position: absolute;
    width: 1920px;
    height: 360px;
    top: 1356px;
    /* margin-top: 1356px;
    margin-bottom: 930px; */
    background-color: #96A9C4;
    z-index: -1;
}